VITE_ONSHORE_API_KEY=AIzaSyDnwNzF-goOSVX1nTmnyN4VlRcpZ11vwdY
VITE_OFFSHORE_API_KEY=AIzaSyDIv1QyskhfsmzxeBTOk8izdWO6DrBsIDM
VITE_MASTER_API_KEY=AIzaSyD-wM_UgIBBvc_FvusgkK7OINBHexaWZsQ

VITE_BACKUP_API_KEY_1=AIzaSyDnwNzF-goOSVX1nTmnyN4VlRcpZ11vwdY
VITE_BACKUP_API_KEY_2=AIzaSyDIv1QyskhfsmzxeBTOk8izdWO6DrBsIDM
VITE_BACKUP_API_KEY_3=AIzaSyAEXfhZP26r_1vIx58Tl0KtiK1LMxQ0rfc
